@charset "utf-8";
/* CSS Document */
.schbarwrap {
    top: 0px;
    left: 0px;
    width: 100%;
    background-image: url(img/stbg.jpg);
    border-bottom: 0px solid rgb(39, 44, 51);
    overflow: hidden;
}
.schbar {
    width: 93.75%;
    margin: 0px auto;
    padding: 0px 0px 8px;
}
.schbar.txt {
    width: 73%;
    height: 30px;
    line-height: 30px;
    margin: 8px 0px 0px;
    padding: 0px 1%;
    font-size: 14px;
    color: rgb(153, 153, 153);
    border-radius: 0px 0px 0px 0px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.schbar .close {
    width: 8.25%;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px 0px;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.schbar .submit {
    float: right;
    display: inline;
    width: 14.5%;
    height: 30px;
    line-height: 34px;
    margin: 8px 0px 0px;
    font-size: 14px;
    text-align: center;
    background: none repeat scroll 0px center transparent;
    color: rgb(0, 0, 0);
}
